<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>WeatherApp</title>
</head>
<body class="home-body">
    <div class="home-city-container">
      <form  method="post">
        <h1>City</h1>
        <input type="text" name="city" placeholder="City" class="home-city-name">
        <input type="submit" value="Submit" class="home-submit-button">
      </form>
    </div>
  </body>
</html>